<h1>Users</h1>

<% @users.each do |user| %>

Name:
<%= user.name %><br>

Email:
<%= user.email %><br><br>

<%= link_to "More Info", user_path(user) %>
<%= link_to "User's Posts", user_posts_path(user) %>

<hr>

<% end %>
