<h1>Users</h1>

Name:
<%= @user.name %><br>

Email:
<%= @user.email %><br>

<hr>

<%= link_to "Delete User", user_path, method: :delete, data: { confirm: "Are you sure you want to delete user?"} if @user == current_user %><br>
<%= link_to "New Post", new_post_path(@user) %>
